<section class="section d-flex justify-between">
    <a href="#" class="news-container">
        The U.S. Economy Keeps Defying the Recession Odds
    </a>
    <a href="#" class="news-container">
        Target, Best Buy, Walmart, Lululemon Won the Black Friday Weekend
    </a>
    <a href="#" class="news-container">
        Italy Set to Approve $442 Million Loan to Keep Alitalia Flying
    </span>
    <a href="#" class="news-container">
        Target, Best Buy, Walmart, Lululemon Won the Black Friday Weekend
    </a>
</section>