<section class="section d-flex justify-between">
    <div class="currency-block">
        <span class="cerrency-block__currency-name">BTC</span>
        <span class="currency__value">0.0001317</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">ETH</span>
        <span class="currency__value">0.006813</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">BCH</span>
        <span class="currency__value">0.003301</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">USDT</span>
        <span class="currency__value">1.11</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">LTC</span>
        <span class="currency__value">0.0198</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">CNY</span>
        <span class="currency__value">7.653</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">CHF</span>
        <span class="currency__value">1.0757</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">GBR</span>
        <span class="currency__value">0.84445</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">USD</span>
        <span class="currency__value">1.1088</span>
    </div>
    <div class="currency-block">
        <span class="cerrency-block__currency-name">TRY</span>
        <span class="currency__value">6.5673</span>
    </div>
</section>