<section class="section d-flex justify-between news-section">
    <a href="#" class="news-container" target="_blank">
        The U.S. Economy Keeps Defying the Recession Odds
    </a>
    <a href="#" class="news-container" target="_blank">
        Target, Best Buy, Walmart, Lululemon Won the Black Friday Weekend
    </a>
    <a href="#" class="news-container" target="_blank">
        Italy Set to Approve $442 Million Loan to Keep Alitalia Flying
    </span>
    <a href="#" class="news-container" target="_blank">
        Target, Best Buy, Walmart, Lululemon Won the Black Friday Weekend
    </a>
</section>