<footer class="section d-flex  footer">
    <div class="footer-block d-flex justify-between">
        <span class="footer__text">
            2020 EuroDenizIBU. All righs reserved
        </span>
        <span class="footer__text">
            Call the Contact Center <a href="tel:+35796056338">+357 96 056 338</a>
        </span>
        <ul class="footer-wrap d-flex">
            <li class="footer-wrap__item">
                <a target="_blank" title="FaceBook" href="https://www.facebook.com/eurodeniz" class="footer-wrap__link">
                    <img src="img/facebook.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a target="_blank" title="linkedIn" href="https://www.linkedin.com/company/euro-deniz-ibu" class="footer-wrap__link">
                    <img src="img/linkedin.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a target="_blank" title="Telegram" href="tg://resolve?domain=EuroDenizManager" class="footer-wrap__link">
                    <img src="img/telegram.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a target="_blank" title="WhatsApp" href="https://wa.me/35796056338?text=EuroDenizIBU.%20Hello." class="footer-wrap__link">
                    <img src="img/whatsapp.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a target="_blank" title="Signal" href="signal://35796056338?text=Hello%2C%20Hello" class="footer-wrap__link">
                    <img src="img/signal.png" alt="icon">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-block-img d-flex justify-between">
        <a href="https://www.gopai.com/" title="Payment Alliance" target="_blank"><img src="img/aliance.png" alt="partner image"></a>
        <a href="https://www.americanexpress.com/us/help/make-a-payment.html" title="AMERICAN EXPRESS" target="_blank"><img src="img/express.png" alt="partner image"></a>
        <a href="https://www.payscale.com/research/US/Employer=Blackrock%2C_Inc./Salary" title="Blackrock" target="_blank"><img src="img/blackrock.png" alt="partner image"></a>
        <a href="https://coingate.com/accept/eth/ethereum" title="Ethereum Payments" target="_blank"><img src="img/ethereum.png" alt="partner image"></a>
        <a href="https://fidelitypayment.co.uk/" title="Fidelity Payment" target="_blank"><img src="img/fidelity.png" alt="partner image"></a>
        <a href="https://www.franklintempletonindia.com/" title="Franklin Templeton" target="_blank"><img src="img/franklin.png" alt="partner image"></a>
        <a href="https://www.swift.com/" title="SWIFT" target="_blank"><img src="img/swift.png" alt="partner image"></a>
        <a href="https://www.mastercard.us/en-us.html" title="Mastercard" target="_blank"><img src="img/master.png" alt="partner image"></a>
        <a href="http://global.moneygram.com/" title="MoneyGram" target="_blank"><img src="img/gram.png" alt="partner image"></a>
        <a href="https://tether.to/" title="Tether" target="_blank"><img src="img/tether.png" alt="partner image"></a>
        <a href="https://usa.visa.com/" title="Visa" target="_blank"><img src="img/visa.png" alt="partner image"></a>
        <a href="https://www.westernunion.com/us/en/home.html" title="Western Union" target="_blank"><img src="img/western.png" alt="partner image"></a>
    </div>
</footer>