<footer class="section d-flex  footer">
    <div class="footer-block d-flex justify-between">
        <span class="footer__text">
            2020 EuroDenizIBU. All righs reserved
        </span>
        <span class="footer__text">
            Call the Contact Center <a href="tel:+35796056338">+357 96 056 338</a>
        </span>
        <ul class="footer-wrap d-flex">
            <li class="footer-wrap__item">
                <a href="" class="footer-wrap__link">
                    <img src="img/facebook.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a href="" class="footer-wrap__link">
                    <img src="img/linkedin.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a href="" class="footer-wrap__link">
                    <img src="img/telegram.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a href="" class="footer-wrap__link">
                    <img src="img/whatsapp.png" alt="icon">
                </a>
            </li>
            <li class="footer-wrap__item">
                <a href="" class="footer-wrap__link">
                    <img src="img/signal.png" alt="icon">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-block-img d-flex justify-between">
        <a href="#"><img src="img/aliance.png" alt="partner image"></a>
        <a href="#"><img src="img/express.png" alt="partner image"></a>
        <a href="#"><img src="img/blackrock.png" alt="partner image"></a>
        <a href="#"><img src="img/ethereum.png" alt="partner image"></a>
        <a href="#"><img src="img/fidelity.png" alt="partner image"></a>
        <a href="#"><img src="img/franklin.png" alt="partner image"></a>
        <a href="#"><img src="img/swift.png" alt="partner image"></a>
        <a href="#"><img src="img/master.png" alt="partner image"></a>
        <a href="#"><img src="img/gram.png" alt="partner image"></a>
        <a href="#"><img src="img/tether.png" alt="partner image"></a>
        <a href="#"><img src="img/visa.png" alt="partner image"></a>
        <a href="#"><img src="img/western.png" alt="partner image"></a>
    </div>
</footer>