<div class="login-block d-none">
    <div class="login">
        <img class="login__btn-close" src="img/close.png" alt="">
        <img class="login__logo" src="img/logo.png" alt="">
        <div class="authorization">
            <span class="login__header">
                To enter online banking write your ID and password
            </span>
            <div class="input-block">
                <span class="login__text">Login</span>
                <input class="login__input authorization__login" type="text" placeholder="Enter your login">
            </div>
            <div class="input-block">
                <span class="login__text">Password</span>
                <input class="login__input authorization__password" type="password" placeholder="Enter your password">
            </div>
            <div class="input-block">
                <button class="login__btn" id="login__btn">LOGIN</button>
            </div>
        </div>
        <div class="login-pin d-none">
            <span class="login__header">
                Enter your PIN
            </span>
            <div class="input-block">
                <span class="login__text">PIN</span>
                <input class="login__input authorization__pin" type="text" placeholder="Enter your PIN">
            </div>
            <div class="input-block">
                <button class="login__btn" id="pin__btn">SUBMIT</button>
            </div>
        </div>
        <div class="login-error d-none">
            <span class="login__header login__header_error">
                Invalid login and password or PIN
            </span>
            <span class="login__text">
                If you are sure you are typing everything right please contact
                support <a href="contact.html" class="color_link">here</a>
            </span>
        </div>
    </div>
</div>