<section class="section d-flex block-site-map justify-between" id="map-site">
    <ul class="site-map">
        <li class="site-map__item">
            <a href="fees.html" class="site-map__link site-map__link_header">
                Fees
            </a>
        </li>
        <li class="site-map__item">
            <a href="swift-iban.html" class="site-map__link">
                Dedicated SWIFT IBAN
            </a>
        </li>
        <li class="site-map__item">
            <a href="crypto.html" class="site-map__link">
                Crypto currency
            </a>
        </li>
        <li class="site-map__item">
            <a href="contact.html" class="site-map__link">
                Contact us
            </a>
        </li>
        <li class="site-map__item">
            <a href="fatca-crs.html" class="site-map__link">
                FATCA/CRS
            </a>
        </li>
    </ul>
    <ul class="site-map">
        <li class="site-map__item">
            <a href="products.html" class="site-map__link site-map__link_header">
                Products
            </a>
        </li>
        <li class="site-map__item">
            <a href="investment-consulting.html" class="site-map__link">
                Investment Consulting
            </a>
        </li>
        <li class="site-map__item">
            <a href="cash-management-corporate.html" class="site-map__link">
                Cash Management
            </a>
        </li>
        <li class="site-map__item">
            <a href="trade-finance-corporate.html" class="site-map__link">
                Trade Finance
            </a>
        </li>
        <li class="site-map__item">
            <a href="#" class="site-map__link">
                Exclusive solutions for extraordinary people
            </a>
        </li>
    </ul>
    <ul class="site-map">
        <li class="site-map__item">
            <a href="private-banking.html" class="site-map__link site-map__link_header">
                Banking
            </a>
        </li>
        <li class="site-map__item">
            <a href="corporate-banking.html" class="site-map__link">
                Corporate Banking
            </a>
        </li>
        <li class="site-map__item">
            <a href="private-banking.html" class="site-map__link">
                Private Banking
            </a>
        </li>
        <li class="site-map__item">
            <a href="business-card.html" class="site-map__link">
                Business Card
            </a>
        </li>
        <li class="site-map__item">
            <a href="commercial-banking.html" class="site-map__link">
                Commercial Banking
            </a>
        </li>
    </ul>
    <ul class="site-map site-map_width-220">
        <li class="site-map__item">
            <a href="wealth-management.html" class="site-map__link site-map__link_header">
                Wealth Management
            </a>
        </li>
        <li class="site-map__item">
            <a href="investment-products.html" class="site-map__link">
                Investment Products
            </a>
        </li>
        <li class="site-map__item">
            <a href="leverage-products.html" class="site-map__link">
                Leverage Products
            </a>
        </li>
        <li class="site-map__item">
            <a href="deposit-products.html" class="site-map__link">
                Deposit Products
            </a>
        </li>
    </ul>
    <ul class="site-map site-map_width-190">
        <li class="site-map__item">
            <a href="deposit-products.html" class="site-map__link site-map__link_header">
                Euro Deniz Account
            </a>
        </li>
        <li class="site-map__item">
            <a href="deposit-products.html" class="site-map__link">
                Term Deposit Account
            </a>
        </li>
        <li class="site-map__item">
            <a href="deposit-products.html" class="site-map__link">
                Fixed Deposit Account
            </a>
        </li>
        <li class="site-map__item">
            <a href="deposit-products.html" class="site-map__link">
                Savings account
            </a>
        </li>
    </ul>
    
</section>