<div class="w-100 main-bg-color d-flex justify-center menu-block">
    <div class="site-container site-container">
        <ul class="menu d-flex justify-between">
            <li class="menu-item">
                <a href="about.html">ABOUT US</a>
            </li>
            <li class="menu-item">
                <a href="crypto.html">CRYPTO</a>
            </li>
            <li class="menu-item">
                <a href="swift-iban.html">DEDICATED IBAN</a>
            </li>
            <li class="menu-item">
                <a href="fatca-crs.html">FATCA/CRS</a>
            </li>
            <li class="menu-item menu-item_banking">
                <a href="private-banking.html">BANKING</a>
                <ul class="menu-banking">
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="private-banking.html">
                            Private banking
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="investment-consulting.html">
                            Investment consulting
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="exclusive.html">
                            Exclusive solutions for extraordinary people
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="products.html">
                            Products
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="business-card.html">
                            Business Card
                        </a>
                    </li>
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="corporate-banking.html">
                            Corporate banking
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="trade-finance-corporate.html">
                            Trade finance
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="cash-management-corporate.html">
                            Cash management
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="business-card.html">
                            Business card
                        </a>
                    </li>
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="commercial-banking.html">
                            Commercial banking
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="trade-finance-commercial.html">
                            Trade finance
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="cash-management-commercial.html">
                            Cash management
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="investment-consulting-commercial.html">
                            Investment consulting
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="business-card.html">
                            Business card
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item_wealth">
                <a href="wealth-management.html">WEALTH MANAGEMENT</a>
                <ul class="menu-banking">
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="investment-products.html">
                            Investment products
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="leverage-products.html">
                            Leverage products
                        </a>
                    </li>
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="deposit-products.html">
                            Deposit products
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="deposit-products.html">
                            Euro Deniz account
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="deposit-products.html">
                            Savings account
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="deposit-products.html">
                            Term deposit account
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="deposit-products.html">
                            Fixed deposit account
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>