<div class="w-100 main-bg-color d-flex justify-center menu-block">
    <div class="site-container site-container">
        <ul class="menu d-flex justify-between">
            <li class="menu-item">
                <a href="about.html">ABOUT US</a>
            </li>
            <li class="menu-item">
                <a href="#">CRYPTO</a>
            </li>
            <li class="menu-item">
                <a href="#">DEDICATED IBAN</a>
            </li>
            <li class="menu-item">
                <a href="#">FATCA/CRS</a>
            </li>
            <li class="menu-item menu-item_banking">
                <a href="#">BANKING</a>
                <ul class="menu-banking">
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="#">
                            Private banking
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Investment consulting
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Exclusive solutions for extraordinary people
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Products
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Business Card
                        </a>
                    </li>
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="#">
                            Corporate banking
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Trade finance
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Cash management
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Business card
                        </a>
                    </li>
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="#">
                            Commercial banking
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Trade finance
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Cash management
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Investment consulting
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Business card
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item_wealth">
                <a href="#">WEALTH MANAGEMENT</a>
                <ul class="menu-banking">
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="#">
                            Investment products
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Leverage products
                        </a>
                    </li>
                    <li class="menu-banking__item menu-banking__item_header">
                        <a href="deposit-products.html">
                            Deposit products
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Euro Deniz account
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Savings account
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Term deposit account
                        </a>
                    </li>
                    <li class="menu-banking__item">
                        <a href="#">
                            Fixed deposit account
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>