<div class="site-container w-100 pt-50 slider-block">
    <div class="slider">
        <div class="slider-item slider-item_active">
            <img class="slider-item__img" src="img/slider1.png" alt="">
            <div class="d-flex f-colm align-start slider-item__description">
                <div class="sleder-item__container">
                    <h2 class="slider-header">Our location</h2>
                    <span class="slider_main-text">Our location is a governmentally designated area founded to promote
                        export-oriented investment and production</span>
                    <a class="slider-item__link" href="about.html">DETAILS</a>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <img class="slider-item__img" src="img/slider2.png" alt="">
            <div class="d-flex f-colm align-start slider-item__description">
                <div class="sleder-item__container">
                    <h2 class="slider-header">Crypto currency</h2>
                    <span class="slider_main-text">
                        Exclusive solutions for extraordinary people
                    </span>
                    <a class="slider-item__link" href="exclusive.html">DETAILS</a>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <img class="slider-item__img" src="img/slider3.png" alt="">
            <div class="d-flex f-colm align-start slider-item__description">
                <div class="sleder-item__container">
                    <h2 class="slider-header">Fast account opening</h2>
                    <span class="slider_main-text">
                        Choose your type of deposit account today and start gaining the returns right away
                    </span>
                    <a class="slider-item__link" href="apply-online.html">DETAILS</a>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <img class="slider-item__img" src="img/slider4.png" alt="">
            <div class="d-flex f-colm align-start slider-item__description">
                <div class="sleder-item__container">
                    <h2 class="slider-header">Dedicated SWIFT IBAN</h2>
                    <span class="slider_main-text">Obtain your own IBAN account for payments  in multiple
                        currencies with your own name indicated in the beneficiary field</span>
                    <a class="slider-item__link" href="swift-iban.html">DETAILS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-controls">
        <div class="slider-control__item slider-control__item_active"></div>
        <div class="slider-control__item"></div>
        <div class="slider-control__item"></div>
        <div class="slider-control__item"></div>
    </div>
</div>