<div class="top-nav">
    <div class="site-container d-flex align-center justify-between pt-5 ">
        <a href="index.html" class="top-nav__logo">
            <img src="img/logo.png" alt="" class="top-nav__logo-img">
        </a>
        <ul class="d-flex  top-nav-wrap">
            <li class="top-nav-wrap__item">
                <a href="#" class="top-nav-wrap__link">SITE MAP</a>
            </li>
            <li class="top-nav-wrap__item">
                <a href="fees.html" class="top-nav-wrap__link">FEES</a>
            </li>
            <li class="top-nav-wrap__item">
                <a href="#" class="top-nav-wrap__link">CONTACT US</a>
            </li>
            <li class="top-nav-wrap__item">
                <a href="#" class="top-nav-wrap__link">APPLY ONLINE</a>
            </li>
            <li class="top-nav-wrap__item">
                <a href="#" class="top-nav-wrap__link">LOGIN</a>
            </li>
        </ul>
    </div>
</div>